.App {
    text-align: left;
  }
  
  .header {
    background: url("./picture/background.jpg");
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: #d2e8e5;
  }
  .header2 {
    background: url("./picture/background2.jpg");
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: #d2e8e5;
  }
  
  .weather-container {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
  }
  .flex-container {
    display: flex;
    flex-direction: row wrap;
  }

  

 